.block-responsive
	display: block
	width: 100%

.block-embed
	position: relative
	padding-bottom: 56.25%
	padding-top: 30px
	height: 0
	overflow: hidden

	iframe,
	object,
	embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.block-action
	margin-top: 15px
	padding-top: 15px
	border-top: 1px dotted #ccc
	text-align: right

	ul
		display: inline-block

		li
			display: inline
			margin: 0 15px
			padding-left: 10px

			a
				@extend .link

.block-step
	display: block
	height: 100%
	overflow: hidden
	position: relative

	img
		z-index: 1
		display: block
		width: 100%
		position: relative

	span
		+box-sizing(border-box)
		+transition(all 0.2s)

		z-index: 99
		display: block
		width: 100%
		position: absolute
		left: 0
		bottom: -50%
		padding: 15px
		background: #fff
		color: $color-dark
		font:
			weight: bold
			size: 1.3em
			family: $font-custom-1
		text:
			transform: uppercase
			decoration: none
			align: center

	&:hover
		span
			bottom: 0

.block-pane-bordered
	padding: 15px
	border: 1px solid #ccc

.block-document
	height: 170px
	overflow: auto
	padding-right: 15px
	font-size: 0.9em

.block-device
	min-height: 122px
	padding-left: 80px
	background: image-url('device.png') 0 0 no-repeat

	.checkbox
		margin: 0

.block-event
	.image
		a
			display: block
			text-decoration: none

			img
				display: block
				width: 100%

	.text
		@extend .clearfix

		margin-top: 10px
		font:
			size: 0.9em
			weight: 300
			family: $font-custom-1

		.title
			+transition(all 0.1s)

			display: block
			height: 45px
			margin-bottom: 10px
			color: $color-custom-1
			font:
				weight: bold
				size: 1.3em
			line-height: 130%
			text-decoration: none

			&:hover
				color: lighten($color-custom-1, 5%)

		.more
			width: 40%
			float: left
			font-weight: bold
			text-align: center

			.when
				padding: 10px 5px
				background: #ccc
				color: $color-dark

			a
				+transition(all 0.1s)

				display: block
				margin-top: 2px
				padding: 10px 5px
				background: $color-dark
				color: #fff
				text:
					transform: uppercase
					decoration: none

				&:hover
					background: $color-custom-1

		.details
			+box-sizing(border-box)

			width: 60%
			float: left
			padding-left: 10px

			.place				
				&:before
					@extend .icon

					content: '\f2a3'
					margin-right: 5px
					color: $color-custom-1

			.time
				margin-top: 2px
				
				&:before
					@extend .icon

					content: '\f26e'
					margin-right: 5px
					color: $color-custom-1

			.locale
				margin-top: 2px
				
				&:before
					@extend .icon

					content: '\f2ea'
					margin-right: 5px
					color: $color-custom-1

			.price
				margin-top: 2px
				
				&:before
					@extend .icon

					content: '\f2aa'
					margin-right: 5px
					color: $color-custom-1

