.heading-section
	margin-bottom: 30px
	padding-top: 15px
	border-top: 1px solid #666

	h2
		padding-left: 10px
		border-left: 10px solid $color-custom-1
		color: $color-dark
		font:
			weight: bold
			size: 2.3em
			family: $font-custom-1
		text-transform: uppercase

	h4
		margin-top: 10px
		color: $color-dark
		font:
			weight: normal
			size: 1.5em
			family: $font-custom-1
		text-transform: uppercase

.heading-topic
	color: $color-dark
	font:
		weight: normal
		size: 1.5em
		family: $font-custom-1
	text-transform: uppercase

	&:before
		@extend .icon

		content: '\f170'
		margin-right: 7px
		color: $color-custom-1
		font-size: 22px

.heading-panel
	margin: 0
	padding: 15px
	background: #ccc
	color: $color-dark
	font:
		weight: 300
		size: 1.9em

