.global-header
	z-index: 900
	width: 100%
	position: fixed
	left: 0
	top: 0
	background: #fff
	font-size: 0.9em

	.global-header-container
		@extend .clearfix
		+transition(all 0.2s)

		width: $main-width
		position: relative
		margin: 0 auto
		padding: 30px 0

	h1
		float: left
		margin: 0

		a
			+transition(all 0.2s)

			display: block
			width: 284px
			height: 76px
			background:
				image: image-url("logo-portaldoingresso.png")
				position: 0 50%
				repeat: no-repeat
				size: 100% auto
			text-indent: -9999px

	&.sticky
		+box-shadow(0 1px 5px rgba(0, 0, 0, 0.1))

		.global-header-container
			padding: 25px 0

		h1
			a
				width: 247px
				height: 67px

	.navsearch
		display: none
		position: absolute
		right: 65px
		top: 30px
		text-decoration: none

		&:before
			+transition(all 0.1s)
			@extend .icon

			content: '\f1d9'
			color: #666
			font-size: 30px
			font-family: $font-icon

		&:hover
			&:before
				color: $color-custom-1

	.navicon
		display: none
		position: absolute
		right: 15px
		top: 30px
		text-decoration: none

		&:before
			+transition(all 0.1s)
			@extend .icon

			content: '\f20e'
			color: #666
			font-size: 30px
			font-family: $font-icon

		&:hover
			&:before
				color: $color-custom-1

	nav
		position: absolute
		right: 0
		top: 15px

		ul
			li
				display: inline-block
				position: relative

				a
					+transition(border-color 0.1s)
					+box-sizing(border-box)

					display: block
					float: left
					padding: 5px 10px
					border-top: 1px solid transparent
					color: $color-dark
					font:
						weight: 300
						size: 1.4em
						family: $font-custom-1
					text:
						transform: uppercase
						decoration: none

					&.active,
					&:hover
						color: $color-custom-1

			.session
				z-index: 999

				> a
					padding: 0 10px
					color: #fff
					line-height: 30px

					span
						margin-right: 8px

					strong
						font-size: 0.8em

					&.active
						background: $color-custom-1

				ul
					+box-sizing(border-box)

					display: none
					width: 200px
					position: absolute
					right: 0
					top: 100%
					padding: 10px
					background: $color-custom-1

					li
						display: block
						margin: 0

						&.divider
							margin: 5px 0
							border-top: 1px solid rgba(255, 255, 255, 0.3)

						a
							+border-radius(3px)
							+transition(all 0.2s)

							display: block
							float: none
							padding: 3px 5px
							color: rgba(255, 255, 255, 0.8)
							font-weight: bold
							font-size: 0.9em
							line-height: 130%

							&:hover
								background: rgba(255, 255, 255, 0.3)
								color: #fff
								text-decoration: none

	.form-search
		@extend .clearfix

		display: block
		position: absolute
		right: 0
		bottom: 15px

		legend
			display: none

		.selectize-control
			width: 160px
			float: left
			margin-right: 15px

			.selectize-input
				@extend .field-text

				input,
				.item
					color: #999
					font:
						weight: 300
						size: 1.2em
						family: $font-custom-1

				.item
					float: left
					line-height: 35px

				&:after
					right: 8px

		input
			@extend .field-text

			width: 180px
			float: left
			border-right: none
			color: #999
			font:
				weight: 300
				size: 1.2em
				family: $font-custom-1

			&:focus
				color: $color-dark

		button
			+box-sizing(border-box)

			width: 40px
			height: 35px
			float: left
			padding: 0 10px
			border: 1px solid $color-custom-1
			border-left: none
			background: $color-custom-1
			text-align: center

			&:before
				@extend .icon

				content: '\f21f'
				color: #fff
				font-size: 20px
				line-height: 35px

			&:focus
				@extend .focus

.global-footer
	z-index: 1
	width: $main-width
	position: relative
	margin: 0 auto
	padding: 30px 0
	border-top: 1px solid #666
	font-size: 0.8em

	.heading-topic
		margin-bottom: 15px

	.signature
		@extend .clearfix

		margin-top: 30px
		padding-top: 30px
		border-top: 1px solid #666

		.payment
			float: left

		.brands
			float: right
			margin-top: 15px
			padding: 0

			li
				display: inline
				margin-left: 10px

.global-content
	z-index: 1
	width: $main-width
	position: relative
	margin: 130px auto 0
	padding: 30px 0

