.list-short
	padding: 0

	li
		border-bottom: 1px solid #ddd
		color: #ccc
		list-style: square inside

		&:last-child
			border-bottom: none

		a
			+transition(all 0.1s)

			display: inline-block
			padding: 6px 0
			color: #999
			font:
				size: 1.2em
				family: $font-custom-1
			text:
				transform: uppercase
				decoration: none

			&:hover
				color: $color-custom-1

.list-rating
	@extend .clearfix

	display: inline

	li
		display: inline

		a
			+transition(all 0.1s)

			display: block
			float: left
			padding: 3px
			text-decoration: none
			color: #bbb

			&:before
				@extend .icon

				content: '\f24e'
				font-size: 25px

			&:hover
				color: $color-warning

		&.on,
		&.on-hover
			a
				color: $color-warning

		&.off-hover
			a
				color: #bbb

