@media screen and (max-width: 1200px)
	$main-width: 970px

	.global-header
		.global-header-container
			width: $main-width

		nav
			ul
				li
					a
						font-size: 1.3em

		.form-search
			.selectize-control
				width: 130px

			input
				width: 150px

	.global-footer
		width: $main-width

	.global-content
		width: $main-width

@media screen and (max-width: 1000px)
	$main-width: 790px

	.global-header
		.global-header-container
			width: $main-width
			padding: 10px 0

		h1
			float: none

			a
				width: 180px
				height: 70px

		&.sticky
			+box-shadow(0 1px 5px rgba(0, 0, 0, 0.1))

			.global-header-container
				padding: 10px 0

			h1
				a
					width: 180px
					height: 70px

		.navicon
			display: block

		.navsearch
			display: block

		nav
			display: none
			position: relative
			left: 0
			top: 0

			ul
				margin: 0
				padding: 0

				li
					display: block

					a
						height: auto
						float: none
						margin-top: 1px
						padding: 10px
						border: none
						background: #eee
						font-size: 1.2em
						line-height: 100%
						text-align: center

						&.active,
						&:hover
							color: $color-custom-1

				.session
					> a
						padding: 10px
						background: $color-custom-1
						color: #fff

					ul
						width: 100%
						position: relative
						left: 0
						top: 0

						li
							a
								background: none

		.form-search
			display: none
			position: relative
			left: 0
			top: 0
			padding: 10px
			background: #eee

			.selectize-control
				float: none
				width: 100%
				margin-bottom: 10px

			input
				clear: both
				width: 90%

			button
				width: 10%

	.global-footer
		width: $main-width

		.signature
			.payment,
			.brands
				float: none
				display: block
				margin: 0 auto

			.brands
				margin-top: 30px
				text-align: center

				li
					margin: 0 5px

	.global-content
		width: $main-width
		margin-top: 60px

	.list-short
		li
			a
				font-size: 1.1em

@media screen and (max-width: 820px)
	$main-width: 98%

	.global-header
		padding-bottom: 0

		.global-header-container
			width: $main-width

	.global-footer
		width: $main-width

	.global-content
		width: $main-width

		&.sticky-fix
			padding-top: 30px + 71px + 40px

	.grid
		.grid-item
			width: 100%
			margin-bottom: 15px

@media screen and (max-width: 580px)
	.global-header
		h1
			a
				width: 150px !important
				height: 58px !important

	.global-footer
		.signature
			.payment
				width: 80%

			.brands
				img
					width: 17%

