.tab
	.tab-index
		@extend .clearfix

		margin: 0
		padding: 0

		li
			display: inline

			a
				+transition(all 0.1s)

				display: block
				float: left
				padding: 15px
				background: #ddd
				color: #999
				font:
					weight: 300
					size: 1.3em
				text-decoration: none

				&:hover
					color: $color-dark

			&.active
				a
					background: #ccc
					color: $color-dark

	.tab-content
		padding: 15px
		border: 1px solid #ccc

		> div
			display: none
